@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-ocean-light: hsl(204, 90%, 25%);
  --color-ocean-dark: hsl(204, 98%, 15%);
  --color-sky-light: hsl(195, 80%, 90%);
  --color-sky-dark: hsl(190, 85%, 80%);
  --color-sand-light: hsl(47, 80%, 95%);
  --color-sand-dark: hsl(47, 60%, 90%);

  --breakpoint-xs: 30rem;
}

:root {
  scroll-behavior: smooth;
}

@layer components {
}